footer {
  background-color: #c9c8c7;
  padding: 60px 0;
}

.footer__column_title {
  color: black;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__items_group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer__items_group a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  padding: 6px 0;
  font-weight: 300;
}

.footer__items_group p {
  color: black;
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__bottom_bar {
  background-color: var(--primary_color);
  text-align: center;
  border-top: 1px solid black;
  padding: 12px;
}

.footer__bottom_bar span {
  color: black;
  font-size: 1.2rem;
}

footer .wpforms-container {
  margin: 0 !important;
}

.newsletter_input_row {
  display: flex;
  align-items: center;
}

#newsletter_form .newsletter_input {
  background: none !important;
  border: 1px solid black !important;
  border-right: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 45px !important;
}

#newsletter_form .newsletter_btn {
  color: black !important;
  background: none !important;
  border: 1px solid black !important;
  height: 45px !important;
}

.footer__social_links {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__social_links a {
  text-decoration: none;
  font-size: 3rem;
  border: none;
}
