:root {
  --primary_color: #312c21;
  --primary_color_hover: #30170a;
  --secondary_color: #f2f0ed;
  --third_color: #827b76;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato !important;
  background-color: var(--secondary_color) !important;
}

body:not(.logged-in) {
  padding-top: 80px;
}

.page-header {
  display: none !important;
}

.custom__header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 40px 0 20px 0 !important;
}

.custom__header_container {
  padding: 0 2rem;
}

body:not(.logged-in) .custom__header {
  padding: 16px 0 !important;
}

.custom__header i {
  font-size: 24px;
}

.header__right_menu {
  gap: 24px;
}

.header__left_menu i {
  font-size: 32px;
}

.header__logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo_wrapper img {
  max-width: 200px;
}

.header__search_form {
  display: none;
}

.header__search_form_btn,
.header__main_menu_btn,
.header__main_menu_btn_close {
  cursor: pointer;
}

.header__main_menu {
  margin: 0 !important;
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  display: none;
}

.header__main_menu a,
.header__submenu_title {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
}

.header__main_menu a:hover {
  color: var(--primary_color_hover);
}

.header__main_menu li {
  list-style: none;
}

.header__main_menu_btn_close {
  display: none;
}

@keyframes show_search_form_animation {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes show_main_menu_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.show__header_main_menu {
  display: flex;
  animation: 1s show_main_menu_animation forwards;
}

.show__search_form {
  display: block;
  animation: 1s show_search_form_animation forwards;
}

.header__cart_icon {
  padding: 6px;
  background-color: var(--secondary_color);
  text-decoration: none;
  color: var(--primary_color);
  position: absolute;
  top: 5px;
  right: -15px;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__submenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__submenu_item {
  font-weight: 300;
  color: var(--third_color);
  font-size: 2rem !important;
}

@media (max-width: 40rem) {
  body {
    padding-top: 60px;
  }

  .custom__header_container .container {
    padding: 0;
    margin: 0;
  }

  .header__main_menu {
    flex-direction: column;
    gap: 12px;
  }

  .header__submenu {
    gap: 0;
  }

  .header__submenu_item {
    margin: none;
  }

  .header__logo_wrapper img {
    max-width: 100%;
  }

  .header__submenu_title {
    font-weight: 400 !important;
  }

  .show__search_form {
    display: flex;
  }

  .header__search_form {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 90%);
    justify-content: center;
    align-items: center;
  }

  .header__search_form form {
    width: 90% !important;
  }

  .show__header_main_menu {
    justify-content: flex-start;
    height: 100vh;
    overflow-y: scroll;
  }

  .header__submenu_item,
  .header__submenu_title {
    font-size: 1.6rem !important;
  }
}
